# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.bin
*.elf
*.out
*.app
*.i*86
*.x86_64
*.hex
*/build

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Directories
.vscode/
MainMCU/Core/.vscode/
MainMCU/MCU-h725zgt6/build/
MainMCU/Nucleo-F429ZI/.vscode/
MainMCU/Nucleo-F429ZI/build/
MainMCU/Nucleo-H723ZG/.vscode/
MainMCU/Nucleo-H723ZG/build/
